{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block script %}
    <script src="../static/js/index.js"></script>
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Ação</th>
                    <th scope="col">Preço</th>
                    <th scope="col">Quantidade</th>
                    <th scope="col">Valor Total</th>
                    <th scope="col">Total de ações</th>
                    <th scope="col">Saldo</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
        <div class="loader" id="loader"></div>
    </div>
{% endblock %}